@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

html,
body {
  height: 100%;
}

body {
  background-color: hsl(217, 54%, 11%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

hr {
  color: hsl(215, 32%, 27%);
  margin: 15px 0;
}

.nft-card-container {
  font-family: Outfit, Arial, Helvetica, sans-serif;
  background-color: hsl(216, 50%, 16%);
  width: 375px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.nft-preview {
  border-radius: 40px;
  padding: 30px;
}

.nft-info {
  padding: 0 30px 30px 30px;
}

.nft-title {
  color: white;
  font-size: 26px;
  margin: 0;
}

.nft-description {
  color: hsl(215, 51%, 70%);
  font-size: 18px;
  font-weight: 300;
  line-height: 1.8em;
}

.nft-attributes {
  display: flex;
  justify-content: space-between;
}

.icon {
  margin-right: 10px;
}

.nft-price {
  color: hsl(178, 100%, 50%);
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}

.time-remaining {
  color: hsl(215, 51%, 70%);
  font-size: 18px;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nft-credit {
  font-size: 18px;
  font-weight: 300;
  display: flex;
  align-items: center;
}

.nft-avatar {
  border: 1px solid white;
  border-radius: 50%;
  width: 12%;
  margin-right: 20px;
}

.creation-title {
  color: hsl(215, 51%, 70%);
  padding-right: 10px;
}

.nft-author {
  color: hsl(178, 100%, 50%);
}

.attribution {
  font-size: 11px;
  color: hsl(178, 100%, 50%);
  text-align: center;
  position: absolute;
  bottom: 5px;
  width: 100%;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
